html, body {
    height: 100%; 
    margin: 0; 
    width: 100%; 
}
body{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}
.caja{
    background-color: white;
    width: 48rem;
    height: 48rem;
}