html, body {
    height: 100%; 
    margin: 0; 
    width: 100%; 
}
body{
    background-color: var(--color-bg);
    color: var(--color-primary);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=NTR&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
:root{
    --color-bg: white;
    --color-primary: black;

    --font-primary:"Kameron", serif;
    --font-secondary:"NTR", sans-serif;

    --widht-px: 40em;

    --text-size-xs: 0.5rem;
    --text-size-sm: 0.71rem;
    --text-size-md: 1rem;
    --text-size-lg: 1.41rem;
    --text-size-xl: 2rem;
    --text-size-2xl: 2.83rem;
    --text-size-3xl: 4rem;
    --text-size-4xl: 5.65rem;
    --text-size-5xl: 7.99rem;

    --text-weight-black: 900;
    --text-weight-bold: 700;
    --text-weight-semibold: 600;
    --text-weight-medium: 500;
    --text-weight-regular: 400;
    --text-weight-light: 300;
    --text-weight-thin: 200;
    --text-weight-hairline: 100;

    --border-px-small : 1px;
    --border-px-normal : 3px;
    --border-px-large: 6px;

    --letter-spacing : .1rem;
}
.dark{
    --color-bg: black;
    --color-primary:white;
}
.caja1{
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    padding: .3rem;
    border: solid var(--border-px-small) var(--color-primary);
    width: var(--widht-px);

}
.caja2{
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    padding: .3rem;
    border: solid var(--border-px-small) var(--color-primary);
    width: var(--widht-px);

    margin-top: 1rem;
}
.caja3{
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    padding: .3rem;
    border: solid var(--border-px-small) var(--color-primary);
    width: var(--widht-px);


    margin-top: 1rem;
}
.caja4{
    
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    padding: .3rem;
    border: solid var(--border-px-small) var(--color-primary);
    width: var(--widht-px);


    margin-top: 1rem;
}
.caja5{
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    padding: .3rem;
    border: solid var(--border-px-small) var(--color-primary);
    width: var(--widht-px);


    margin-top: 1rem;
}
.cajaP1{
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    padding: .3rem;
    border: solid var(--border-px-small) var(--color-primary);
    width: var(--widht-px);
    margin-top: 1rem;
}
.cajaP2{
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    padding: .3rem;
    border: solid var(--border-px-small) var(--color-primary);
    width: var(--widht-px);
    margin-top: 1rem;
}
.cajaP3{
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    padding: .3rem;
    border: solid var(--border-px-small) var(--color-primary);
    width: var(--widht-px);


    margin-top: 1rem;
}
h1 {
    font-family: var(--font-primary);
    font-size: var(--text-size-3xl); 
    font-weight: var(--text-weight-black);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h2 {
    font-family: var(--font-primary);
    font-size: var(--text-size-2xl); 
    font-weight: var(--text-weight-bold);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h3 {
    font-family: var(--font-primary);
    font-size: var(--text-size-xl); 
    font-weight: var(--text-weight-semibold);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h4 {
    font-family: var(--font-primary);
    font-size: var(--text-size-lg);
    font-weight: var(--text-weight-medium);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h5 {
    font-family: var(--font-primary);
    font-size: var(--text-size-md); 
    font-weight: var(--text-weight-regular);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p {
    font-family: var(--font-secondary);
    font-weight: var(--text-weight-light);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.caption {
    font-weight: var(--text-weight-thin);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.note {
    font-weight: var(--text-weight-hairline);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}