html, body {
    height: 100%; 
    margin: 0; 
    width: 100%; 
}

.caja {
    font-size: 1.5em; 
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0; 
    padding: 20px; 
}
input[type="email"], input[type="password"] {
    width: 30em; 
    height: 3em; 
    font-size: 1em; 
    background-color: transparent; 
    color: #333; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 0.5em; 
    margin-bottom: 1em; 
}

.checkbox-container {
    display: flex; 
    align-items: center; 
    margin-bottom: 1em; 
}

p {
    color: gray;
    font-weight: lighter; 
    margin: 0; 
}

button {
    background-color: lightblue;
    font-size: 1em; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 0.5em 1em; 


}