@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    /* Colores */
    --color-primario: blue;
    --color-secundario: gray;
    --color-fondo-boton: white;
    --color-gradiente: linear-gradient(90deg, rgba(254,255,0,1) 2%, rgba(93,36,77,1) 24%, rgba(255,0,77,1) 37%, rgba(0,255,16,1) 52%, rgba(81,87,195,1) 58%, rgba(0,129,255,1) 88%);
    --color-perfil-borde: black;


    /* Tamaños de fuente */
    --font-size-small: small;
    --font-size-title: large;
    --font-size-text: 10px;

    /* Pesos de letra */
    --font-weight-light: 100;
    --font-weight-bold: bold;

    /* Familia tipográfica */
    --font-family-primary: "Cairo", sans-serif;
    --font-family-secondary: "Lora", serif;

}

body {
    padding: 10px;
    height: 100dvh;
    width: 100%;
}

.carta {
    padding: 0.6rem;
    width: 20%;
    height: fit-content;
    border: 1px solid var(--color-primario);
}

.carta__visual-img {
    background-image: var(--color-gradiente);
}

.carta__visual {
    height: 12em;
    width: 100%;
    border: 1px solid var(--color-perfil-borde);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta_button {
    width: 4em;
    height: 4em;
    border-radius: 360px;
}

.carta__visual-button {
    border: 0px solid var(--color-perfil-borde);
    rotate: -25deg;
    background-color: var(--color-fondo-boton);
    color: var(--color-secundario);
}

.carta__content {
    padding: 0.5em;
}

.carta__text {
    font-size: var(--font-size-text);
}

.carta__text--tag {
    font-weight: var(--font-weight-light);
    color: var(--color-secundario);
    font-size: var(--font-size-small);
    font-family: var(--font-family-secondary);
}

.carta__text--title {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-title);
    font-family: var(--font-family-secondary);
}

.carta__perfil {
    display: flex;
    flex-wrap: wrap;
}

.carta__perfil-img {
    margin-right: 1em;
    height: 2em;
    width: 2em;
    border-radius: 300px;
    align-self: center;
}

.carta__perfil-nombre {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-bold);
}

.carta__fecha {
    font-family: var(--font-family-secondary);
    margin-top: 2em;
    margin-left: -2.2em;
    align-self: flex-end;
    color: var(--color-secundario);
    font-weight: var(--font-weight-light);
}