.caja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50rem;
    height: auto;
    max-height: 66dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid white;
    border-radius: 16px;
    overflow: hidden;
    max-width: 80vw; /* Responsive max-width */
}

.contenido {
    min-width: 60%;
    max-width: 70%;
}

.imagen {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 50vh; /* Limits height for a more contained fit */
    object-position: center; /* Centers image */
    border-radius: 16px; /* Matches container’s radius */
}

.tags {
    width: 100%;
    margin-left: 1.6em;
    color: orange;
    font-weight: bold;
    font-size: 1.5rem;
}

.nombre {
    margin-left: 1em;
    font-weight: bold;
    font-size: 2.5rem;
    color: gray;
}

.estrellas {
    margin-left: 1.1em;
    font-size: 2em;
    color: orange;
}

.votes {
    color: lightgray;
    font-size: 0.8em;
    font-weight: bold;
}

.texto {
    margin-left: 1.2em;
    font-size: 1.5em;
}

.savecontainer {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-left: 1.2em;
    margin-bottom: 1em;
    color: orange;
    border: 5px solid orange;
    border-radius: 10px;
}

.saveimg {
    width: 3em;
    margin-left: 1em;
}

.savetxt {
    color: orange;
    font-weight: bold;
    font-size: 2em;
    margin-right: 0.5em;
}

/* Media query for larger screens */
@media (min-width: 170em) {
    .caja {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .container {
        width: 100%; /* Makes container responsive to viewport width */
        max-width: 80vw;
        display: flex; /* Use flexbox for layout */
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 40px;
        margin-left: 2em;
        margin-top: 2em;
        overflow: hidden;
    }
    
    .imagen {
        max-width: 50%; 
        object-fit: cover;
        height: auto;
        max-height: 60vh;
        object-position: center;
        border-radius: 16px;
    }
    
    .contenido {   
        max-width: 50%;
    }
    .savecontainer{
        width: 50%;
    }
    .texto{
        width: 50%;
    }
}